$primary: #0075a1; /* applies to spinner, form elements and links */
$secondary: #004c6d; /* applies to header */
$nav-background-color: #0d5d80;
$nav-accent: #1a6a8d; /* applies to navigation borders and navigation item hover, focus and active state */ 
$footer-color: #8aa9b7;
$body-color: #333;
$border-color: #ccc;
$table-accent: #f5f5f5; /* applies to table row zebra-striping style */
$letters-color-light: #ffffff;
$header-height: 60px;
$navbar-width: 250px;
$added-padding: 25px;
@import url('https://fonts.googleapis.com/css?family=Roboto:regular,bold');

@mixin unselected() {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
body, #app{
    font-family: "Roboto";
    margin: 0px;
}
.header {
    @include unselected;
    background-color: $secondary;
    color: $letters-color-light;
    position: fixed;
    top: 0px;
    z-index: 2;
    width: 100%;
    height: $header-height;
    display: flex;
    text-transform: uppercase;
    .logo-wrap {
        width: $navbar-width - 40px;
        padding-left: 40px;
        height: 100%;
        display: flex;
        align-items: center;
    }
    .inside-header {
        display: flex;
        align-items: center;
    }
    .logout {
        position: absolute;
        right: $added-padding;
        height: 100%;
        display: flex;
        align-items: center;
        font-size: 0.6em;
        span {
            margin-right: 10px;
            &:hover {
                cursor: pointer;
            }
        }
        svg{
            height: 30px;
            width: 30px;
            border-radius: 15px;
            background-color: $letters-color-light;
            fill: $secondary;
            &:hover {
                cursor: pointer;
            }
        }
    }
    .burger {
        display: none;
    }
    @media (max-width: 800px) {
        justify-content: space-between;
        .inside-header{
            display: none;
        }
        .logout {
            position: relative;
            span {
                display: none;
            }
        }
        .logo-wrap {
            display: flex;
            justify-content: center;
            padding-left: 0px;
        }
        .burger-container{
            position: relative;
            left: $added-padding;
            height: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
        .burger {
            display: block;
            cursor: pointer;
            span{
                background: $letters-color-light;
                display: block;
                width: 30px;
                height: 3px;
                margin-bottom: 5px;
                position: relative;
                top: 0;
                -webkit-transition: all ease-in-out 0.4s;
                -moz-transition: all ease-in-out 0.4s;
                -o-transition: all ease-in-out 0.4s;
                transition: all ease-in-out 0.4s;
                &:nth-child(4){
                    margin-bottom: 0px;
                }
            }
            &.open span{
                &:nth-child(2),&:nth-child(3){
                    width: 0;
                    opacity: 0;
                }
                &:nth-child(4){
                    transform: rotate(45deg);
                    top: -12px;
                }
                &:nth-child(1){
                    transform: rotate(-45deg);
                    top: 12px;
                }
            }
        }
    }
}
.navigation {
    @include unselected;
    background-color: $nav-background-color;
    position: fixed;
    top: 0px;
    z-index: 1;
    height: 100%;
    width: $navbar-width;
    ul {
        list-style: none;
        margin-top: $header-height+10px;
        padding: 0px;
        a{
            color: $letters-color-light;
            display: block;
            padding: 12px;
            padding-left: 30px;
            text-decoration: none;
            border-top: 1px solid rgba($border-color,.3);
            -webkit-transition: background-color 0.4s;
            -moz-transition: background-color 0.4s;
            -o-transition: background-color 0.4s;
            transition: background-color 0.4s;
            &:hover, &.selected, &:focus{
                background-color: $nav-accent;
            }
        }
        li:nth-child(1) a{
            border-top: none;
        }
    }
    @media (max-width: 800px) {
        top: $header-height;
        width: 100%;
        height: 0%;
        ul {
            background-color: $nav-background-color;
            max-height: 0%;
            padding: 0px;
            margin: 0px;
            overflow: hidden;
            font-size: 1.5em;
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-direction: column;
            -webkit-transition: max-height 0.5s ease-in-out 0s;
            -moz-transition: max-height 0.5s ease-in-out 0s;
            -o-transition: max-height 0.5s ease-in-out 0s;
            transition: max-height 0.5s ease-in-out 0s;
            li {
                text-align: center;
                width: 100%;
                a {
                    padding-left: 0px;
                }
            }
        }
        &.open ul{
            max-height: 160px; // ~53*3
            margin: 0px;
        }
    }
    .nav-footer {
        color: $footer-color;
        position: absolute;
        bottom: 10px;
        left: 30px;
        font-size: 0.9em;
    }
}
.main {
    min-height: 100vh;
    display: flex;
    .wrap{
        height: auto;
        width: 100%;
        flex-direction: column;
        overflow: auto;
        margin-left: $navbar-width;
        padding: $added-padding;
        padding-top: $added-padding+$header-height;
        h2, h3 {
            margin: 0px;
        }
        @media (max-width: 800px) {
            margin-left:0px;
        }
        .colors-header {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .colors-grid {
            display: flex;
            flex-wrap: wrap;
            .grid-item {
                width: 33.33%;
                height: 175px;
                display: flex;
                margin-top: 15px;
                margin-bottom: 15px;
                @media (min-width: 1001px) {
                    &:nth-child(3n+1) .grid-box{
                        margin-left: 0px;
                    }
                    &:nth-child(3n) .grid-box{
                        margin-right: 0px;
                    }
                }
                @media (max-width: 1000px) {
                    width: 50%;
                    &:nth-child(2n+1) .grid-box{
                        margin-left: 0px;
                    }
                    &:nth-child(2n) .grid-box{
                        margin-right: 0px;
                    }
                }
                @media (max-width: 550px) {
                    width: 100%;
                    &:nth-child(n) .grid-box{
                        margin-left: 0px;
                        margin-right: 0px;
                    }
                }
                .grid-box {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    margin-left: 15px;
                    margin-right: 15px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .grid-hex {
                        color: rgba(0,0,0,.4);
                        height:100%;
                        display: flex;
                        align-items: center;
                    }
                    .grid-text {
                        color: $letters-color-light;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        width: 100%;
                        background-color: rgba(0,0,0,.5);
                        -webkit-transition: background-color ease-in-out 0.4s;
                        -moz-transition: background-color ease-in-out 0.4s;
                        -o-transition: background-color ease-in-out 0.4s;
                        transition: background-color ease-in-out 0.4s;
                        span {
                            margin: 15px;
                        }
                    }
                    &:hover .grid-text{
                        background-color: rgba(0,0,0,0);
                    }
                }
            }
        }
        .users-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 10px;
            max-width: 1000px;
            button {
                color: $letters-color-light;
                background-color: $nav-accent;
                border-color: transparent;
                border-radius: 3px;
                box-shadow: none;
                text-transform: uppercase;
                padding: 4px 10px;
                &:focus {
                    outline: none;
                    box-shadow: none;
                }
                &:hover {
                    background-color: $primary;
                }
                &[disabled] {
                    background-color: $footer-color;
                }
            }
        }
        .users-table {
            overflow-x: auto;
            table{
                width: 100%;
                max-width: 1000px;
                min-width: 650px;
                border-collapse: collapse;
                text-align: left;
                background-color: $table-accent;
                thead {
                    border-bottom: 1px solid $border-color;
                }
                th, td {
                    padding: 8px 0px;
                }
                tbody{
                    tr:nth-child(2n+1){
                        background-color: $border-color;
                    }
                }
            }
        }
        .not-found h1{
            margin: 0px;
        }
    }
   
}
.loading {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .loader {
        border: 5px solid $primary; 
        border-top: 5px solid transparent;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        animation: spin 2s linear infinite;
    }
    
    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
    .loader-message {
        width: 60px;
    }
}
.full-page-loading {
    height: 100vh;
    display: flex;
    align-items: center;
}